<div class='control-group'>
  <%= content_for(:label) %>
  <div class='controls'>
    <div class='input-prepend'>
      <span class="add-on"><i class=<%= content_for(:class)%>></i></span>
      <%= content_for(:field) %>
    </div>
  </div>
</div>