%p.pagination.page-info
  = page_entries_info @users
%p.pagination.rows
  Rows per page:
  - (1..5).each do |i|
    -#TODO: params-to-session part 1 - find some better way of creating links directly to session
    = link_to "#{i*5}", params = {record_amount: i*5}, remote: true
