<div id='wrapper'></div>
<div id='msg_box' class='box'>Either copy the confirmation link by hand and paste it to the browser or
<%= link_to 'click here', send_conf_path(params) %> to send another; confirmation email if pasting url won't help.</div>
