<% if !flash[:error].nil? && !flash[:error].empty?%>
    <% a = [] %>
    <% if flash[:error].class.to_s == 'String' %>
        <% a << flash[:error] %>
    <%  else %>
        <% a = flash[:error] %>
    <% end %>
    <div class='alert alert-error'>
      <ul>
      <% a.each do |value| %>
          <li><%= content_tag(:div, value) %></li>
      <% end %>
    </ul>
    </div>
<% end%>

<% if !flash[:notice].nil?%>
    <% a = [] %>
    <% if flash[:notice].class.to_s == 'String' %>
        <% a << flash[:notice] %>
    <%  else %>
      <% a = flash[:notice] %>
    <% end %>
    <div class='alert alert-success'>
      <ul>
        <% a.each do |value| %>
            <li><%= content_tag(:div, value) %></li>
        <% end %>
      </ul>
    </div>
<% end%>



